// Globals, Font family, etc.
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
    
}

// Mobile-first styles
.firstBlock {
	overflow: hidden;
	background-color: #FFE7E7;
	font-weight: bold;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: auto;
	width: auto;
	color: black;

	// Logo and Slogan section
	.logoSloganWrapper {
		margin-bottom: 2vh;

		// Logo
		.logoWrapper {
			display: flex;
			justify-content: center;
			align-items: center;

			.mainLogo {
				width: 300px;
			}
		}

		// Slogan
		.sloganWrapper {
			display: flex;
			font-size: 10px;
			flex-direction: column;
			justify-content: center;
			align-items: center;
            margin-bottom:8vh;
			.slogan {
				text-align: center;
                background: transparent;
                border-radius: 10px;
                height: 7px;
                width: 70%;
                box-shadow: 0 55px 0 0 #8B3D45;
			}
		}
	}

	// Selection Bar
	.selectionBarWrapper {
        margin-bottom: 3vh;
		.selectionBarList {
			display: flex;
			justify-content: center;
			align-items: center;
			list-style: none;
			width: 100%;
			font-size: 17px;

			// Individual Selection Item
			.selectionBarItemShop,
			.selectionBarItemProject,
			.selectionBarItemContact {
				font-weight: bold;
				display: flex;
				justify-content: center;
				padding: 0px 35px; // Adjust padding
				align-items: center;
				width: 100%;
                text-align: center;
				cursor: pointer;
				p::after {
					content: " ";
					display: block;
					height: 0.3em;
					border-radius: 10px;
				}
				&:hover,
				&.active {
					color: grey;
				}
			}

			.selectionBarItemShop {
				p::after {
					width: 5em;
					background-color: #3D498B;
				}
			}

			.selectionBarItemProject {
				p::after {
					width: 5em;
					background-color: #FB8491;
				}
			}

			.selectionBarItemContact {
				p::after {
					width: 5em;
					background-color: #4D4849;
				}
			}
		}
	}

	// Main Text Section
	.mainText {
		color: white;
		margin-top: 2vh;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		text-align: center;
		background-color: #F16171;
		width: 350px; // Adjust width
		border-bottom: 10px solid #8B3D45;
		border-radius: 15px;
		padding: 20px;
		font-size: 1em;
	}

	// Links Section
	.linkWrapper {
		display: flex;
		justify-content: center;
		align-items: center;
		margin-top: 5vh;

		.linkList {
			display: flex;
			justify-content: center;
			align-items: center;
			list-style: none;
			width: 100%; // Adjust width
			text-align: center;

			.linkItem {
				display: flex;
				justify-content: center;
				align-items: center;
				cursor: pointer;
                padding-left: 10px;
                padding-right: 10px;
				img {
					width: 60px;
					height: auto; // Maintain aspect ratio
				}
			}
		}
	}

	// See More Section
	.seeMoreWrapper {
		margin-top: 20px;

		.seeMore,
		.seeMoreArrow {
			display: flex;
			justify-content: center;
			align-items: center;

			img {
				width: 50%;
				height: auto; // Maintain aspect ratio
			}
		}

		.seeMore {
			font-size: 12px;
		}
	}

	.ericWrapper {
		.eric {
			display: flex;
			justify-content: center;
			align-items: center;
			margin-top: 20px;
			font-size: 12px;
			color: #8B3D45;
			.ericImg {
				width: 300px;
				height: auto; // Maintain aspect ratio
			}
		}
	}

	.ericBubbleWrapper {
		.ericBubble {
			display: flex;
			justify-content: center;
			align-items: center;
			.ericBubbleImg {
				width: 300px;
				height: auto; // Maintain aspect ratio
			}
		}
	}
}
.expandedInfoWrapper {
	overflow: hidden;
	background-color: #DCA3A3	;
	font-weight: bold;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: auto;
	width: 100%;
	color: white;
	padding-top: 10px;
	.expandedInfoText1 {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		text-align: center;
		background-color: #F16171;
		width: 350px; // Adjust width
		border-bottom: 10px solid #8B3D45;
		border-radius: 15px;
		padding: 20px;
		font-size: 1em;
	}
	.expandedInfoText2 {
		margin-top: 20px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		text-align: center;
		background-color: #8B3D45;
		width: 350px; // Adjust width
		border-bottom: 10px solid #62373B;
		border-radius: 15px;
		padding: 20px;
		font-size: 1em;

	}
}

