@font-face {
	font-family: JejuGothic;
	src: url(/src/assets/fonts/JejuGothic-Regular.ttf);
}
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: JejuGothic; // import ttf
	
    a {
		text-decoration: none;
		color: inherit;
	}

	img {
		border-radius: 4px;
	}
}


.hero {
    background-color: #FFE7E7;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    .leftBar {
        background-color: #DCA3A3;
        width: 10%;
        height: 700px;
        display: flex;
        flex-direction: row;
        justify-content: right;
        align-items: right;
        
        // fade in
        animation: leftBar 2s ease-in-out;
        @keyframes leftBar {
            0% {
                opacity: 0;
                transform: translateX(-100px);
            }
            100% {
                opacity: 1;
                transform: translateX(0px);
            }
        }
        #leftVerticleBar1 {
            width: 10px;
            height: 250px;
            margin-top: 220px;
            margin-right: 10px;
            background-color: #8B3D45;
            // fade in
        }
    }
    .leftNavWrapper {
        display: flex;
        padding: auto;
        flex-direction: row;
        #leftVerticleBar2 {
            width: 10px;
            height: 500px;
            margin-top: 100px;
            background-color: #8B3D45;
            margin-right: 10px;
            // fade in
            animation: leftVerticleBar2 2s ease-in-out;
            @keyframes leftVerticleBar2 {
                0% {
                    opacity: 0;
                    transform: translateX(-100px);
                }
                100% {
                    opacity: 1;
                    transform: translateX(0px);
                }
            }
        }
        .leftNav {
            .leftNavLinks {
                display: flex;
                flex-direction: column;
                height: 100%;
                justify-content: center;
                .leftNavLink {
                    a {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        margin-top: 10px;
                        margin-bottom: 10px;
                        // cursor pointer
                        cursor: pointer;
                        p {
                            font-size: 15px;
                        }
                        .leftNavLinkIconWrapper {
                            margin-right:10px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            .leftNavLinkIcon {
                                width: 40px;
                            }
                        }
                        .leftNavLinkText {
                            font-size: 20px;
                        }
                        :hover {
                            color: white;
                        }
                    }
                }
                // link animations
                #leftLink1 {
                    // fade in from left
                    animation: leftLink1 1s ease-in-out;
                    animation-fill-mode: forwards;
                    @keyframes leftLink1 {
                        0% {
                            opacity: 0;
                            transform: translateX(-30px);
                        }
                        100% {
                            opacity: 1;
                            transform: translateX(0px);
                        }
                    }
                }
                #leftLink2 {
                    // fade in from left
                    animation: leftLink2 1.5s ease-in-out;
                    animation-fill-mode: forwards;
                    @keyframes leftLink2 {
                        0% {
                            opacity: 0;
                            transform: translateX(-30px);
                        }
                        100% {
                            opacity: 1;
                            transform: translateX(0px);
                        }
                    }
                }
                #leftLink3 {
                    // fade in from left
                    animation: leftLink3 2s ease-in-out;
                    animation-fill-mode: forwards;
                    @keyframes leftLink3 {
                        0% {
                            opacity: 0;
                            transform: translateX(-30px);
                        }
                        100% {
                            opacity: 1;
                            transform: translateX(0px);
                        }
                    }
                }
            }
        }
    }
    .centerWrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 80%;
        animation: logoDesktop 2s ease-in-out;
        @keyframes logoDesktop {
            0% {
                opacity: 0;
                transform: translateY(-300px);
            }
            100% {
                opacity: 1;
                transform: translateY(0px);
            }
        }
        .logoImgWrapper {
            display: flex;
            justify-content: center;
            flex-direction: column;
            margin-top: 0px;
            .logoImg {
                width: 300px;
            }
            .logoTextWrapper {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                margin-top: -11px;
            }
        }
        .mainTextBubbleWrapper {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: row;
            .mainTextWrapper {
                color: white;
                margin-top: 2vh;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                text-align: center;
                background-color: #F16171;
                width: 500px; // Adjust width
                border-bottom: 10px solid #8B3D45;
                border-radius: 15px;
                padding: 40px;
                font-size: 18px;
            }
            .leftBubbleWrapper {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                margin-top: 2vh;
                margin-right: 10px;
                .leftBubbleImg {
                    width: 100px;
                    // flip image
                    transform: scaleX(-1);
                }
                // animation
                animation: leftBubble 2s ease-in-out;
                @keyframes leftBubble {
                    0% {
                        opacity: 0;
                        transform: translateX(-30px);
                    }
                    100% {
                        opacity: 1;
                        transform: translateX(0px);
                    }
                }
            }
            .rightBubbleWrapper {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                margin-top: 2vh;
                .rightBubbleImg {
                    width: 100px;
                    margin-left: 10px;
                }
                // animation
                animation: rightBubble 2s ease-in-out;
                @keyframes rightBubble {
                    0% {
                        opacity: 0;
                        transform: translateX(30px);
                    }
                    100% {
                        opacity: 1;
                        transform: translateX(0px);
                    }
                }
            }
        }
    }
    .rightBar {
        // SAME AS LEFT BAR BUT REVERSED
        background-color: #DCA3A3;
        width: 10%;
        height: 700px;
        display: flex;
        flex-direction: row;
        justify-content: left;
        align-items: left;
        // fade in
        animation: rightBar 2s ease-in-out;
        @keyframes rightBar {
            0% {
                opacity: 0;
                transform: translateX(100px);
            }
            100% {
                opacity: 1;
                transform: translateX(0px);
            }
        }
        #rightVerticleBar1 {
            width: 10px;
            height: 250px;
            margin-top: 220px;
            margin-left: 10px;
            background-color: #8B3D45;
            position: absolute;
            // fade in
        }
        
    }
    .rightNavWrapper {
        display: flex;
        padding: auto;
        flex-direction: row;
        #rightVerticleBar2 {
            width: 10px;
            height: 500px;
            margin-top: 100px;
            margin-left: 10px;
            background-color: #8B3D45;
            // fade in
            animation: rightVerticleBar2 2s ease-in-out;
            @keyframes rightVerticleBar2 {
                0% {
                    opacity: 0;
                    transform: translateX(100px);
                }
                100% {
                    opacity: 1;
                    transform: translateX(0px);
                }
            }
        }
        .rightNav {
            display: flex;
            flex-direction: column;
            justify-content: center;
            
            .rightNavLinks {
                display: flex;
                flex-direction: column;
                height: 100%;
                justify-content: center;
                .rightNavLink {
                    a {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        margin-top: 10px;
                        margin-bottom: 10px;
                        justify-content: flex-end;
                        // cursor pointer
                        cursor: pointer;
                        
                        p {
                            font-size: 15px;
                        }
                        
                        .rightNavLinkIconWrapper {
                            margin-left:10px;
                            display: flex;
                            justify-content: center;
                            align-items: center;

                            .rightNavLinkIcon {
                                width: 40px;
                            }
                        }
    
                        :hover {
                            color: white;
                        }
                    }
                }
                // link animations
                #rightLink1 {
                    // fade in from right
                    animation: rightLink1 1s ease-in-out;
                    animation-fill-mode: forwards;
                    @keyframes rightLink1 {
                        0% {
                            opacity: 0;
                            transform: translateX(30px);
                        }
                        100% {
                            opacity: 1;
                            transform: translateX(0px);
                        }
                    }
                }
                #rightLink2 {
                    // fade in from right
                    animation: rightLink2 1.5s ease-in-out;
                    animation-fill-mode: forwards;
                    @keyframes rightLink2 {
                        0% {
                            opacity: 0;
                            transform: translateX(30px);
                        }
                        100% {
                            opacity: 1;
                            transform: translateX(0px);
                        }
                    }
                }
                #rightLink3 {
                    // fade in from right
                    animation: rightLink3 2s ease-in-out;
                    animation-fill-mode: forwards;
                    @keyframes rightLink3 {
                        0% {
                            opacity: 0;
                            transform: translateX(30px);
                        }
                        100% {
                            opacity: 1;
                            transform: translateX(0px);
                        }
                    }
                }
            }
        }
    }
}

.ericInfoWrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #FFE7E7;
    padding-top:10vh;
    padding-bottom:10vh;
    gap: 10%;
    .ericWrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;        
        .ericImg {
            width: 450px;
            // fade in
            animation: ericImg 2s ease-in-out;
            @keyframes ericImg {
                0% {
                    opacity: 0;
                    transform: translateX(-100px);
                }
                100% {
                    opacity: 1;
                    transform: translateX(0px);
                }
            }
        }
        .ericText {
            animation: ericText 2s ease-in-out;
            @keyframes ericText {
                0% {
                    opacity: 0;
                    transform: translateX(-100px);
                }
                100% {
                    opacity: 1;
                    transform: translateX(0px);
                }
            }
        }
    }
    .mainTextWrapper {
        .mainText {
            color: white;
            margin-top: 2vh;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            background-color: #F16171;
            width: 500px; // Adjust width
            border-bottom: 10px solid #8B3D45;
            border-radius: 15px;
            padding: 40px;
            font-size: 14px;
            // fade in
            animation: mainText 2s ease-in-out;
            @keyframes mainText {
                0% {
                    opacity: 0;
                    transform: translateY(-100px);
                }
                100% {
                    opacity: 1;
                    transform: translateY(0px);
                }
            }
        }
        .mainText2 {
            color: white;
            margin-top: 2vh;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            background-color: #A85E65;
            width: 500px; // Adjust width
            border-bottom: 10px solid #62373B;
            border-radius: 15px;
            padding: 40px;
            font-size: 14px;
            // fade in
            animation: mainText2 2s ease-in-out;
            @keyframes mainText2 {
                0% {
                    opacity: 0;
                    transform: translateY(-100px);
                }
                100% {
                    opacity: 1;
                    transform: translateY(0px);
                }
            }
        }

    }
}

.pageScrollLinksWrapper2 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 5vh;
    padding-bottom: 5vh;
    background-color: #FFE7E7;
    color: white;
    font-size: 20px;
    
    .pageScrollLinksList {
        display: flex;
        justify-content: center;
        align-items: center;
        list-style: none;
        width: 100%; // Adjust width
        text-align: center;
        .pageScrollLinksItemPodcast,
		.pageScrollLinksItemMusic, 
        .pageScrollLinksItemComics,
        .pageScrollLinksItemColabs,
        .pageScrollLinksItemDesign,
        .pageScrollLinksItemPainting,
        .pageScrollLinksItemDrawing,
        .pageScrollLinksItem {
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            color: #2C2C2C;
            padding-left: 20px;
            padding-right: 20px;
            p::after {
                content: " ";
                display: block;
                height: 0.7em;
                border-radius: 10px;
            }
            :hover {
                color: white;
            }
        }
        .pageScrollLinksItemComics {
            p::after {
                width: 4em;
                background-color: #3D498B;
            }
            animation : pageScrollLinksItemComics 1s ease-in-out;
            @keyframes pageScrollLinksItemComics {
                0% {
                    opacity: 0;
                    transform: translateY(-100px);
                }
                100% {
                    opacity: 1;
                    transform: translateY(0px);
                }
            }
        }
        .pageScrollLinksItemColabs {
            p::after {
                width: 4em;
                background-color: #DB6471;
            }
            animation : pageScrollLinksItemColabs 1.3s ease-in-out;
            @keyframes pageScrollLinksItemColabs {
                0% {
                    opacity: 0;
                    transform: translateY(-100px);
                }
                100% {
                    opacity: 1;
                    transform: translateY(0px);
                }
            }
        }
        .pageScrollLinksItemDesign {
            p::after {
                width: 4em;
                background-color: #488EB6;
            }
            animation : pageScrollLinksItemDesign 1.6s ease-in-out;
            @keyframes pageScrollLinksItemDesign {
                0% {
                    opacity: 0;
                    transform: translateY(-100px);
                }
                100% {
                    opacity: 1;
                    transform: translateY(0px);
                }
            }
        }
        .pageScrollLinksItemPainting {
            p::after {
                width: 4em;
                background-color: #C73B49;
            }
            animation : pageScrollLinksItemPainting 1.9s ease-in-out;
            @keyframes pageScrollLinksItemPainting {
                0% {
                    opacity: 0;
                    transform: translateY(-100px);
                }
                100% {
                    opacity: 1;
                    transform: translateY(0px);
                }
            }

        }
        .pageScrollLinksItemDrawing {
            p::after {
                width: 4em;
                background-color: #2B2B2B;
            }
            animation : pageScrollLinksItemDrawing 2.2s ease-in-out;
            @keyframes pageScrollLinksItemDrawing {
                0% {
                    opacity: 0;
                    transform: translateY(-100px);
                }
                100% {
                    opacity: 1;
                    transform: translateY(0px);
                }
            }
        }
        .pageScrollLinksItemPodcast {
            p::after {
                width: 4em;
                background-color: #5F7276;
            }
            animation : pageScrollLinksItemPodcast 2.5s ease-in-out;
            @keyframes pageScrollLinksItemPodcast {
                0% {
                    opacity: 0;
                    transform: translateY(-100px);
                }
                100% {
                    opacity: 1;
                    transform: translateY(0px);
                }
            }
        }
        .pageScrollLinksItemMusic {
            p::after {
                width: 4em;
                background-color: #519664;
            }
            animation : pageScrollLinksItemMusic 2.8s ease-in-out;
            @keyframes pageScrollLinksItemMusic {
                0% {
                    opacity: 0;
                    transform: translateY(-100px);
                }
                100% {
                    opacity: 1;
                    transform: translateY(0px);
                }
            }
        }
    }
}
.comicBookWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    background-color: #FFE7E7;
    padding-bottom:10vh;
    .comicBookStripeWrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: #DCA3A3;
        width: 100%;
        .comicBookStripe1 {
            width: 100%;
            background-color: #8B3D45;
            height: 100px;
            margin-bottom: 20px;
        }
        .comicBookStripe2 {
            width: 100%;
            background-color: #A85E65;
            height: 50px;
            margin-bottom: 20px;
        }
        .comicBookStripe3 {
            width: 100%;
            background-color: #C0777E;
            height: 25px;
            margin-bottom: 20px;
        }
    }
    .comicStripWrapper {
        display: flex;
        justify-content: center;
        align-items: top;
        flex-direction: row;
        width: 100%;
        .comicStrip {
            width: 300px;
            margin-top:-30px;
            margin-right: 20px;
            margin-left: 20px;
        }
    }
    .mainTextWrapper {
        display: flex;
        flex-direction: row;
        margin-top: 10vh;
        .mainText {
            color: white;
            margin-left:100px;
            margin-right:100px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            background-color: #F16171;
            width: 600px; // Adjust width
            border-bottom: 10px solid #8B3D45;
            border-radius: 15px;
            padding: 40px;
            font-size: 1.5em;
            // fade in
            animation: mainText 2s ease-in-out;
            @keyframes mainText {
                0% {
                    opacity: 0;
                    transform: translateY(-100px);
                }
                100% {
                    opacity: 1;
                    transform: translateY(0px);
                }
            }
        }
        .leftBubbleWrapper {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            margin-top: 2vh;
            .leftBubbleImg {
                width: 200px;
                // flip image
                transform: scaleX(-1);
            }
            // animation
            animation: leftBubble 2s ease-in-out;
            @keyframes leftBubble {
                0% {
                    opacity: 0;
                    transform: translateX(-30px);
                }
                100% {
                    opacity: 1;
                    transform: translateX(0px);
                }
            }
        }
        .rightBubbleWrapper {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            margin-top: 2vh;
            .rightBubbleImg {
                width: 200px;
            }
            // animation
            animation: rightBubble 2s ease-in-out;
            @keyframes rightBubble {
                0% {
                    opacity: 0;
                    transform: translateX(30px);
                }
                100% {
                    opacity: 1;
                    transform: translateX(0px);
                }
            }
        }
    }
    .comicButtonWrapper {
        margin-top:40px;
        .comicButton {
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            padding: 10px 20px 10px 20px;
            background-color: #8B3D45;
            color: white;
            border-radius: 20px;
            border-width: 0px;
            font-size: 1.5em;
            border-bottom: 5px solid #F16171;
            &:hover {
                background-color: #2B2B2B;
            }
            //simulate a pess
            &:active {
                border-bottom: 0px solid #2B2B2B;
                margin-top: 5px;
            }
        }
    }
}
.anthologyUVFSWrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: auto;
    background-color: #FFFBFB;
    padding-bottom:10vh;
    .anthologyWrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 50%;
        .anthologyStripes {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            background-color: #CAD4E2;
            width: 100%;

            .anthologyStripe1 {
                width: 100%;
                background-color: #4C5C71;
                height: 100px;
                margin-bottom: 20px;
            }
            .anthologyStripe2 {
                width: 100%;
                background-color: #7F8DA0;
                height: 50px;
                margin-bottom: 20px;
            }
            .anthologyStripe3 {
                width: 100%;
                background-color: #ABBCD6;
                height: 25px;
                margin-bottom: 20px;
            }
            img {
                width: 400px;
                margin-top:-50px;
                margin-bottom: 50px;
            }
        }
        .anthologyTextWrapper {
            display: flex;
            flex-direction: row;
            margin-top: 10vh;
            color: white;
            margin-left:100px;
            margin-right:100px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            background-color: #798FAE;
            width: 600px; // Adjust width
            border-bottom: 10px solid #4C5C71;
            border-radius: 15px;
            padding: 40px;
            font-size: 1.5em;
        }
        .anthologyButtonWrapper {
            margin-top:40px;
            .anthologyButton {
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;
                padding: 10px 20px 10px 20px;
                background-color: #4C5C71;
                color: white;
                border-radius: 20px;
                border-width: 0px;
                font-size: 1.5em;
                border-bottom: 5px solid #798FAE;
                &:hover {
                    background-color: #2B2B2B;
                }
                //simulate a pess
                &:active {
                    border-bottom: 0px solid #2B2B2B;
                    margin-top: 5px;
                }
            }
        
        }
    }
    .uvfsWrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 50%;
        
        .uvfsStripes {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            background-color: #DCA3A3;
            width: 100%;
            .uvfsStripe1 {
                width: 100%;
                background-color: #8B3D45;
                height: 100px;
                margin-bottom: 20px;
            }
            .uvfsStripe2 {
                width: 100%;
                background-color: #A85E65;
                height: 50px;
                margin-bottom: 20px;
            }
            .uvfsStripe3 {
                width: 100%;
                background-color: #C0777E;
                height: 25px;
                margin-bottom: 20px;
            }
            img {
                width: 400px;
                margin-top:-50px;
                margin-bottom: 50px;
            }
        }
        .uvfsTextWrapper {
            display: flex;
            flex-direction: row;
            margin-top: 10vh;
            color: white;
            margin-left:100px;
            margin-right:100px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            background-color: #F16171;
            width: 600px; // Adjust width
            border-bottom: 10px solid #8B3D45;
            border-radius: 15px;
            padding: 40px;
            font-size: 1.5em;
        }
        .uvfsButtonWrapper {
            margin-top:40px;
            .uvfsButton {
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;
                padding: 10px 20px 10px 20px;
                background-color: #8B3D45;
                color: white;
                border-radius: 20px;
                border-width: 0px;
                font-size: 1.5em;
                border-bottom: 5px solid #F16171;
                &:hover {
                    background-color: #2B2B2B;
                }
                //simulate a pess
                &:active {
                    border-bottom: 0px solid #2B2B2B;
                    margin-top: 5px;
                }
            }
        }
    }
}

.designWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #FFFBFB;
    width: 100%;
    .designStripes {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;

        .designStripe1 {
            width: 100%;
            background-color: #FF9393;
            height: 300px;
            margin-bottom: 40px;
        }
        .designStripe2 {
            width: 100%;
            background-color: #D19D9D;
            height: 75px;
            margin-bottom: 10px;
        }
        .designStripe3 {
            width: 100%;
            background-color: #999999;
            height: 50px;
            margin-bottom: 10px;
        }
        .designStripe4 {
            width: 100%;
            background-color: #CBC3C3;
            height: 25px;
            margin-bottom: 10px;
        }
    }
    .logoWrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-top: -30vh;
        .logoImgWrapper {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            .logoImg {
                width: 600px;
            }
        }
    }
    .mainTextBubbleWrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;

        .leftBubbleWrapper {
            .leftBubbleImg {
                width: 150px;
                margin-right: 20px;
                // flip image
                transform: scaleX(-1);
            }
        }
        .mainTextWrapper {
            color: black;
            margin-top: 2vh;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            background-color: #FFB9B9;
            width: 700px; // Adjust width
            border-bottom: 10px solid #FF8F8F;
            border-radius: 15px;
            padding: 40px;
            font-size: 18px;
            height: 300px;
        }
        .rightBubbleWrapper {
            .rightBubbleImg {
                margin-left: 20px;
                width: 150px;
            }
        }
    }
    
    .comicImgWrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        .comicImgGrey {
            width: 400px;
        }
        .comicImgRed {
            width: 500px;
            margin-left: -200px;
            margin-right: -200px;
        }
        .comicImgBlue {
            width: 400px;
        }
    }
    .allsCherryComicsLogoWrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-top: 10vh;
        .allsCherryComicsLogoImg {
            width: 300px;
        }
    }
}

.paintingWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #F9EDEA;
    width: 100%;
    padding-top: 10vh;
    padding-bottom: 10vh;
    .paintingStripes {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;

        .paintingStripe1 {
            width: 100%;
            background-color: #6B7285;
            height: 75px;
            margin-bottom: 40px;
        }
        .paintingStripe2 {
            width: 100%;
            background-color: #515560;
            height: 400px;
            margin-bottom: 10px;
        }
        .paintingStripe3 {
            width: 100%;
            background-color: #515560;
            height: 50px;
            margin-top: 400px;
            margin-bottom: 10px;
        }
    }
    .paintingImgWrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        margin-top: -400px;
        gap:100px;
        .paintingImg {
            width: 500px;
        }
    }
    .mainTextBubbleWrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        margin-top: 100px;
        .leftBubbleWrapper {
            .leftBubbleImg {
                width: 150px;
                margin-right: 20px;
                // flip image
                transform: scaleX(-1);
            }
        }
        .mainTextWrapper {
            color: black;
            margin-top: 2vh;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            background-color: #FFB9B9;
            width: 700px; // Adjust width
            border-bottom: 10px solid #FF8F8F;
            border-radius: 15px;
            padding: 40px;
            font-size: 24px;
            height: 300px;
        }
        .rightBubbleWrapper {
            .rightBubbleImg {
                margin-left: 20px;
                width: 150px;
            }
        }
    }
}

.podcastWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #FFFBFB;
    width: 100%;
    .podcastStripes {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;

        .podcastStripe1 {
            width: 100%;
            background-color: #99C994;
            height: 300px;
            margin-bottom: 40px;
        }
        .podcastStripe2 {
            width: 100%;
            background-color: #879885;
            height: 75px;
            margin-bottom: 10px;
        }
        .logoWrapper {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            .logoImgWrapper {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                .logoImg {
                    width: 600px;
                }
            }
        }
        .podcastStripe3 {
            width: 100%;
            background-color: #999999;
            height: 50px;
            margin-bottom: 10px;
        }
        .podcastStripe4 {
            width: 100%;
            background-color: #CBC3C3;
            height: 25px;
            margin-bottom: 10px;
        }
    }
    .mainTextBubbleWrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        margin-top: 100px;
        .leftBubbleWrapper {
            .leftBubbleImg {
                width: 150px;
                margin-right: 20px;
                // flip image
                transform: scaleX(-1);
            }
        }
        .mainTextWrapper {
            color: white;
            margin-top: 2vh;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            background-color: #6B607E;
            width: 700px; // Adjust width
            border-bottom: 10px solid #524568;
            border-radius: 15px;
            padding: 40px;
            font-size: 24px;
            height: 300px;
        }
        .rightBubbleWrapper {
            .rightBubbleImg {
                margin-left: 20px;
                width: 150px;
            }
        }
    }
    .buttonWrapper {
        margin-top:40px;
        .button {
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            padding: 10px 20px 10px 20px;
            background-color: #3A4950;
            color: white;
            border-radius: 20px;
            border-width: 0px;
            font-size: 1.5em;
            border-bottom: 5px solid #5A757C;
            &:hover {
                background-color: #2B2B2B;
            }
            //simulate a pess
            &:active {
                border-bottom: 0px solid #2B2B2B;
                margin-top: 5px;
            }
        }
    }
    .setDrawWrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 5vh;
        .setDrawImg {
            height: auto;
            width: 650px;
        }
    }
    .crowLogoWrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: -130px;
        .crowLogoImg {
            height: auto;
            width: 300px;
        }
    }
    .spotifyEmbed {
        margin-top: 50px;
        margin-bottom: -50px;
        padding-top:50px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        
        background-color: #99C994;
        .embed {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            width: 100%;
            padding-top:50px;
        }
    }
    .podcastBottomStripes {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;

        .podcastBottomStripe1 {
            width: 100%;
            background-color: #879885;
            height: 75px;
            margin-bottom: 10px;
        }
        .podcastBottomStripe2 {
            width: 100%;
            background-color: #999999;
            height: 75px;
            margin-bottom: 10px;
        }
        .podcastBottomStripe3 {
            width: 100%;
            background-color: #CBC3C3;
            height: 75px;
            margin-bottom: 10px;
        }

    }
}